/* === Import Bootstrap functions and variables === */
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
/*-------------------------------------------------------------------*/
/* Bootstrap Variable Overrides */
/*-------------------------------------------------------------------*/
$theme-colors: (
  primary: #234d7b,
  secondary: $gray-600,
  success: #1e6111,
  info:  #64c3d2,
  warning: #ffc107,
  danger: #820410,
  light: $gray-100,
  dark: $gray-800
);

// Body
//
// Settings for the `<body>` element.
$body-bg: rgb(228,226,221);
$body-color: $gray-800;

// Links
//
// Style anchor elements.
$link-color:                              theme-color("primary");
$link-decoration:                         none;
$link-hover-color:                        lighten($link-color, 10%);
$link-hover-decoration:                   underline;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15%;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-size-base: 0.8125rem; // Assumes the browser default, typically `16px`

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 640px,
  md: 760px,
  lg: 960px,
  xl: 1140px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");




// Navbar
//
$navbar-default-bg: rgba(17, 17, 17, .96);
$navbar-dark-toggler-border-color:  rgba(0,0,0,0);

// List group
$list-group-active-color:           black;
$list-group-active-bg:              theme-color("warning");
$list-group-active-border-color:    rgba(0,0,0,0);

// Pagination
$pagination-padding-y:              .5rem !default;
$pagination-padding-x:              .75rem !default;
$pagination-padding-y-sm:           .25rem !default;
$pagination-padding-x-sm:           .5rem !default;
$pagination-padding-y-lg:           .75rem !default;
$pagination-padding-x-lg:           1.5rem !default;
$pagination-line-height:            1.25 !default;

$pagination-color:                  $gray-700;
$pagination-bg:                     $white !default;
$pagination-border-width:           $border-width !default;
$pagination-border-color:           $gray-300 !default;

$pagination-focus-box-shadow:       $input-btn-focus-box-shadow !default;
$pagination-focus-outline:          0 !default;

$pagination-hover-color:            $gray-800;
$pagination-hover-bg:               $gray-200 !default;
$pagination-hover-border-color:     $gray-300 !default;

$pagination-active-color:           black;
$pagination-active-bg:              theme-color("warning");
$pagination-active-border-color:    rgba(0,0,0,0);

$pagination-disabled-color:         $gray-600 !default;
$pagination-disabled-bg:            $white !default;
$pagination-disabled-border-color:  $gray-300 !default;
/*-------------------------------------------------------------------*/
/* === Boostrap Main SCSS === */
/*-------------------------------------------------------------------*/
@import "bootstrap/scss/_mixins";
@import "bootstrap/scss/_root";
@import "bootstrap/scss/_reboot";
@import "bootstrap/scss/_type";
@import "bootstrap/scss/_images";
@import "bootstrap/scss/_code";
@import "bootstrap/scss/_grid";
@import "bootstrap/scss/_tables";
@import "bootstrap/scss/_forms";
@import "bootstrap/scss/_buttons";
@import "bootstrap/scss/_transitions";
@import "bootstrap/scss/_dropdown";
@import "bootstrap/scss/_button-group";
@import "bootstrap/scss/_input-group";
@import "bootstrap/scss/_custom-forms";
@import "bootstrap/scss/_nav";
@import "bootstrap/scss/_navbar";
@import "bootstrap/scss/_card";
@import "bootstrap/scss/_breadcrumb";
@import "bootstrap/scss/_pagination";
@import "bootstrap/scss/_badge";
@import "bootstrap/scss/_jumbotron";
@import "bootstrap/scss/_alert";
@import "bootstrap/scss/_progress";
@import "bootstrap/scss/_media";
@import "bootstrap/scss/_list-group";
@import "bootstrap/scss/_close";
@import "bootstrap/scss/_toasts";
@import "bootstrap/scss/_modal";
@import "bootstrap/scss/_tooltip";
@import "bootstrap/scss/_popover";
@import "bootstrap/scss/_carousel";
@import "bootstrap/scss/_spinners";
@import "bootstrap/scss/_utilities";
@import "bootstrap/scss/_print";
/*-------------------------------------------------------------------*/


/*-------------------------------------------------------------------*/
/* Bootstrap Class Overrides */
/*-------------------------------------------------------------------*/

.navbar {
  background-color: $navbar-default-bg !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-group-item {
  padding: 0;

  button {
    padding: 15px 10px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: inherit;

    &:hover {
      background-color: inherit;
    }

  }

  &.active {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border-color;

    &:hover {
      background-color: $list-group-active-bg;
    }
  }

  &:hover {
    background-color: $gray-100;
  }
}
