@import "_custom.scss";

/*-------------------------------------------------------------------*/
/* === Custom Styles === */
/*-------------------------------------------------------------------*/

main {
  margin-top: 40px;
}

.clickable {
  cursor: pointer;
}

.form-container {
  max-width: 280px;
}

.movie-form-container {
  max-width: 380px;
}

.cart-container {
  max-width: 600px;
}

.thread-container, .review-container{
  max-width: 800px;
}

