.bookmark {
  display: flex;
  flex-direction: row;
  align-items: center;

  i {
    font-size: 18px;
    padding-right: 3px;
  }
}

.cart {
  display: flex;
  flex-direction: row;
  align-items: center;

  i {
    font-size: 18px;
    padding-right: 3px;
  }
}
