.bookmark {
  position: absolute;
  font-size: 44px;
  top: -17px;
  left: -3px;
};

.card {
  width: 160px;
  height: 290px;
  background-color: rgb(25, 25, 25);
}

.cardBody {
  display: flex;
  height: 100%;
  padding: 2px 5px;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
  text-align: center;
  color: white;
  font-size: 14px;

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
}
