body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  margin-top: 40px;
}

.clickable {
  cursor: pointer;
}

.form-container {
  max-width: 280px;
}

.movie-form-container {
  max-width: 380px;
}

.cart-container {
  max-width: 600px;
}
